@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pixel;
  src: url("/fonts/PixelOperator.ttf") format("truetype");
}

@font-face {
  font-family: pixel-bold;
  src: url("/fonts/PixelOperator-Bold.ttf") format("truetype");
}

/* Sets top level div background */
@layer base {
  body {
    @apply bg-greyscale3 text-lg;
  }
}

* {
  font-family: pixel;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: "#bdbdbd";
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: "#bdbdbd";
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: "#bdbdbd";
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}
